@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.gradient-m {
  font-size: 9rem; /* Tamaño de la letra */
  color: transparent; /* Hace que el texto sea transparente */
  background: linear-gradient(0deg, rgba(4,96,234,1) 50%, rgba(0,176,255,1) 100%);
  -webkit-background-clip: text; /* Permite que el fondo del gradiente aparezca solo en el texto */
  background-clip: text;
  display: inline-block;
}